.post_container {
    height: 100vh;
  }
  .post_top {
    height: 30%;
    background: transparent linear-gradient(248deg, #303f60 0%, #1a253c 100%) 0%
      0% no-repeat padding-box;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .post_bottom {
    height: 70%;
    background-color: #edf6ff;
  }
  

  .post_top_container {
    color: white;
  }
  
  
  .post_top_container_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }