.Login_container {
  height: 100vh;
}
.Login_top {
  height: 49%;
  background: transparent linear-gradient(248deg, #303f60 0%, #1a253c 100%) 0%
    0% no-repeat padding-box;
  position: relative;
  justify-content: center;
  align-items: center;
}

.Login_bottom {
  height: 50%;
  background-color: #edf6ff;
}

