.Forget_container {
  min-height: 120vh;
}
.Forget_top {
  height: 50vh;
  background: transparent linear-gradient(248deg, #303f60 0%, #1a253c 100%) 0%
    0% no-repeat padding-box;
  position: relative;
  justify-content: center;
  align-items: center;
}

.Forget_bottom {
  height: 70vh;
  background-color: #edf6ff;
}
